body {
    background-color: #25274D;
    font-family: 'Barriecito', cursive;
}

h1 {
    color: #DA7B93;
}

/* p {
    color: #DA7B93;
    font-size: 30px;
    font-family: 'Barriecito', cursive;
    text-align: center;

} */


h1{
    margin: auto 0;
    margin-left: 20px;
    font-size: 45px;
    font-family: 'Barriecito', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Barriecito', cursive;
    color: #AAABB8;
}
.footer{
    background-color: #AAABB8; 
}

.footerp {
    color: #DA7B93;
    text-align: center;

}
#next-round {
    color:  #25274D;
}

.cardColor {
    background-color: #DA7B93;
}
.guessDisplayText {
    font-size: 30px;
    color: #25274D;
    text-align: center;
}