body {
    background-color: #25274D;
}

p {
    color: #DA7B93;
    font-family: 'Barriecito', cursive;

}

.answer {
    color: #AAABB8;
}
#directions-text {
    margin: auto 0;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Barriecito', cursive;
}

